@model VideoGameRepository

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Game List</h1>
    <ul>
        @foreach (VideoGame game in Model.VideoGames) 
        {
            <li>
                <a asp-area="" asp-controller="Home" asp-action="GameInfo" asp-route-title=@game.Title>
                    @game.Title
                </a>
            </li>
        }
    </ul>
</div>
